<nav color="primary" class="navbar navbar-default py-2" [dir]="'dir'| translate">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" routerLinkActive="active" routerLink="welcome">
                <img src="assets/svg/school_white.svg" alt="Logo"> {{'header.final' | translate}}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="d-flex align-items-center">
            <ul class="nav  navbar-default d-flex align-items-center "
                [ngClass]="{ 'navbar-right':  ('dir'| translate)=='rtl'}">
                <li routerLinkActive="active"><a routerLink="/new-exam">{{'header.new-test' | translate}}</a></li>
                <li routerLinkActive="active"><a routerLink="/students">{{'header.student' | translate}}</a></li>
                <li routerLinkActive="active"><a routerLink="/subjects">{{'header.subjects' | translate}} </a></li>
                <li routerLinkActive="active"><a routerLink="/login">{{'header.logout' | translate}}</a></li>
                <li routerLinkActive="active"><a routerLink="/login">{{'header.login' | translate}}</a></li>
                <li routerLinkActive="active"><a routerLink="/register">{{'header.register' | translate}}</a></li>
                <li class="username">Mohamed</li>
            </ul>
            <button (click)="changeCurrentLanguage()" type="button" class="btn btn-light "
                [ngClass]="{ 'ms-4':  ('dir'| translate)=='ltr'}">

                {{'language'| translate}}</button>

        </div><!-- /.navbar-collapse -->
    </div>
</nav>