<div class="subjectBox">
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <div class="namesubject">
                <div>اللغة العربية</div>
            </div>
            <div class="subBtn">
                <button class="btn btn-outline-danger mx-1">حذف</button>
                <button class="btn btn-primary mx-1">عرض</button>
                <button class="mx-1 btn btn-success">ابدأ الاختبار</button>
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="namesubject">
                <div>اللغة العربية</div>
            </div>
            <div class="subBtn">
                <button class="btn btn-outline-danger mx-1">حذف</button>
                <button class="btn btn-primary mx-1">عرض</button>
                <button class="mx-1 btn btn-success">ابدأ الاختبار</button>

            </div>
        </div>
    </div>
</div>