<!-- <div class="form-group form-group-password  mb-3">
    <label for="password" class="form-label">{{titleLabel}}</label>
    <input [type]="visiblePassword?'text':'password'" class="form-control" placeholder="Enter Your Password"
        [formControlName]="formControlName" [ngClass]="{
            'is-valid':control.valid && control.dirty,
            'is-invalid':control.invalid && control.touched
        }" />
    <span class="eyeIcon" (click)="showPass()" *ngIf="!visiblePassword">
        <i class="fa fa-eye "></i>
    </span>

    <span class="eyeIcon" (click)="showPass()" *ngIf="visiblePassword">
        <i class="fa fa-eye-slash "></i>
    </span>
    <small class="form-text text-danger"
        *ngIf="passwordCon.invalid && passwordCon.touched">{{validPassword()}}</small>
</div> -->