.form-group-password {
    position: relative;

    .eyeIcon {
        position: absolute;
        right: 1px;
        top: 33px;

        background-color: #ddd;
        border-radius: 5px;
        padding: 6px 10px 6px 10px;
        cursor: pointer;
    }
}
